<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section id="galeria-recomendados">
                <% products.forEach(product => { %>
                <article class="recomendado">
                    <a href="/product/<%= product.id %>">
                        <figure><img class="foto-producto" src="/img/products/<%= product.image%>" alt=""></figure>
                        <div class="descripcion">
                            <p class="nombre-producto"><%= product.name%></p>
                            <p class="precio-producto"><%= product.price%></p>
                        </div>
                    </a>
                </article>
                <% }) %>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>