<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <% 
            function ten(number){
                let x = number / 10;
                return x
            } 
            function mil(numero) {
                return numero.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
            function three(number) {
                let x = number / 100 * 3
                return x
            }
            %> 
            <% if (isLogged) { %>
                <section id="lista">
                    <section id="texto-carrito">
                        <h1>Carrito de compras</h1>
                        <section id="remover">
                            <p><%= cart.Orders.length %> objetos</p>
                            <p>|</p>
                            <a href="/cart/clear">Remover todos</a>
                        </section>
                    </section>
                    <% if (cart.Orders.length == 0) { %>
                        <section class="elemento">
                            <h1>No tienes elementos en el carrito</h1>
                        </section>
                    <% } %>
                    <% for( let i = 0; i < cart.Orders.length; i++ ) { %>
                        <section class="elemento">
                            <section class="image">
                                <img src="/img/products/<%= list[i].image %>" alt="" class="foto">
                            </section>
                            <section class="producto">
                                <h3><%= list[i].name %></h3>
                                <h4><%= list[i].Brand.brand %></h4>
                                <section class="remover">
                                    <a href="/cart/add/<%= list[i].id %>">Agregar</a>
                                    <p> | </p>
                                    <a href="/cart/remove/<%= list[i].id %>">Remover</a>
                                </section>
                                <section class="garantia">
                                    <% if (list[i].Brand.brand != "Varios") { %>
                                        <input type="checkbox">
                                        <h4>Agregar garantía extendida</h4>
                                        <h4><i>$<%= mil(ten(list[i].price).toFixed()) %></i></h4>
                                    <% } %>
                                </section>
                            </section>
                            <section class="cantidad">
                                <h1 class="cant"><%= cart.Orders[i].quantity %></h1>
                                <i class="precio-ind">$<%= mil(list[i].price) %> c/u</i>
                            </section>
                            <h1 class="final">$<%= mil(list[i].price * cart.Orders[i].quantity) %> </h1>
                        </section>
                    <% } %>
                </section>
                <section id="resumen">
                    <br>
                    <h1>Total de compra</h1>
                    <h2>Subtotal (<%= cart.Orders.length %>)</h2>
                    <section id="division">
                        <section id="lista-productos">
                            <% for( let i = 0; i < cart.Orders.length; i++ ) { %>
                            <p><%= list[i].name %></p>
                            <% } %>
                        </section>
                        <section id="lista-montos">
                            <% for( let i = 0; i < cart.Orders.length; i++ ) { %>
                                <p>$<%= mil(list[i].price * cart.Orders[i].quantity) %></p>
                                <% } %>
                        </section>
                    </section>
                    <section id="envio">
                        <input type="checkbox">
                        <h2>Envío</h2>
                        <% if (cart.Orders.length > 0) { %>
                            <% 
                            var envioInicial = 1500
                            for( let i = 0; i < cart.Orders.length; i++ ) {
                                envioInicial = envioInicial - three(envioInicial)
                            %>
                        <% } %>
                        <h2>$<%= mil(envioInicial.toFixed()) %></h2>
                        <% } %>
                        
                    </section>
                    <section id="resumen-final">
                        <section>
                            <h1>Total</h1>
                            <% 
                                var acumulador = 0
                                for( let i = 0; i < cart.Orders.length; i++ ) {
                                    acumulador = acumulador + list[i].price * cart.Orders[i].quantity
                            } %>
                            <h1>$<%= acumulador %></h1>
                        </section>
                        <form action="<% if (cart.Orders.length > 0) { %>/cart/completed<% } %>" method="get">
                            <button>Finaliza tu compra</button>
                        </form>
                    </section>
                </section>
            <% } else { %>
                <span id="error">
                    <h2>Error</h2>
                    <h3>Debes loguearte para acceder a esta página</h3>
                    <a href="/login"><button>Iniciar sesión</button></a>
                    <a href="/home"><button>Volver al menu principal</button></a>
                </span>
            <% } %>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>