<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <h1>Edición del producto</h1>
            <form enctype="multipart/form-data" method="POST" action="">
                <section class="sect-principal">
                    <h2>Nombre del producto</h2>
                    <input name="name" class="field" type="text" placeholder="Martillo" value="<%= product.name %>" required>
                </section>
                <section class="sect-principal">
                    <h2>Descripción</h2>
                    <textarea name="description" class="field" id="" cols="30" rows="10" required><%= product.description %> </textarea>
                </section>
                <section class="sect-principal">
                    <h2>Precio por unidad</h2>
                    <input name="price" class="field" type="text" placeholder="$12345.67" value="<%= product.price %>" required>
                    <i class="aclaracion">(Precio en ARS)</i>
                </section>
                <section class="sect-principal">
                    <h2>Categoría</h2>
                    <select name="category">
                        <option value="ferreteria" <% if( product.category == "ferreteria"){ %>selected="selected"<% } %>>Ferretería</option>
                        <option value="pintureria" <% if( product.category == "pintureria"){ %>selected="selected"<% } %>>Pinturería</option>
                        <option value="plomeria" <% if( product.category == "plomeria"){ %>selected="selected"<% } %>>Plomería</option>
                        <option value="jardineria" <% if( product.category == "jardineria"){ %>selected="selected"<% } %>>Jardinería</option>
                        <option value="maquinaria" <% if( product.category == "maquinaria"){ %>selected="selected"<% } %>>Maquinaria</option>
                    </select>
                </section>
                <section class="sect-principal">
                    <h2>Marca</h2>
                    <input type="text" name="brand" placeholder="Black & Decker" id="" value="<%= product.brand %>" required>
                    <i class="aclaracion">(Si el producto no tiene marca, ingreselo como "Varios")</i>
                </section>
                <section class="sect-principal">
                    <h2>Imagen del producto</h2>
                    <input name="productImage" type="file" src="" alt="" value="<%= product.image %>" required>
                    <i class="aclaracion">(Cambie o vuelva a subir la misma imagen)</i>
                </section>
                <section id="botonera">
                    <button type="submit" id="submit">Enviar</button>
                    <button type="reset" id="reset">Reiniciar campos</button>
                </section>
            </form>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>