<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include ("../partials/header") %> 
    <section id="galeria-recomendados">
        <% list.forEach(product => { %>
        <article class="recomendado">
            <figure><img class="foto-producto" src="/img/<%= product.image%>" alt=""></figure>
            <div class="descripcion">
                <p class="precio-producto"><%= product.price%></p>
                <p class="nombre-producto"><a href="/product/<%= product.id %>"><%= product.name%></a></p>
            </div>
        </article>
        <% }) %>
    </section>
</body>
</html>