<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include ("../partials/header") %> 
    <main>
        <section id="list">
            <h1 id="listTitle"><%= listTitle %></h1>
            <section id="galeria-recomendados">
                <% list.forEach(product => { %>
                <article class="recomendado">
                    <a href="/product/<%= product.id %>">
                        <figure><img class="foto-producto" src="/img/products/<%= product.image%>" alt=""></figure>
                        <div class="descripcion">
                            <p class="nombre-producto"><%= product.name%></p>
                            <p class="precio-producto"><%= product.price%></p>
                        </div>
                    </a>
                </article>
                <% }) %>
            </section>
        </section>
        <section id="filter">
            <form action="/product/filter/" method="post">
                <h2>Marca</h2>
                <div>
                    <input type="radio" name="brand" value="Black & Decker">
                    <p>Black & Decker</p>
                </div>
                <div>
                    <input type="radio" name="brand" value="Bremen">
                    <p>Bremen</p>
                </div>
                <div>
                    <input type="radio" name="brand" value="Dogo">
                    <p>Dogo</p>
                </div>
                <div>
                    <input type="radio" name="brand" value="Dubai">
                    <p>Dubai</p>
                </div>
                <div>
                    <input type="radio" name="brand" value="Varios">
                    <p>Otros</p>
                </div>
                <h2>Categoria</h2>
                <div>
                    <input type="radio" name="category" value="Ferreteria">
                    <p>Ferretería</p>
                </div>
                <div>
                    <input type="radio" name="category" value="Jardineria">
                    <p>Jardinería</p>
                </div>
                <div>
                    <input type="radio" name="category" value="Maquinaria">
                    <p>Maquinaria</p>
                </div>
                <div>
                    <input type="radio" name="category" value="Plomeria">
                    <p>Plomería</p>
                </div>
                <div>
                    <input type="radio" name="category" value="Pintureria">
                    <p>Pinturería</p>
                </div>
                <button type="submit">Aplicar</button>
            </form>
            <form action="/product/" method="get">
                <button>Reiniciar busqueda</button>
            </form>
        </section>
        <% if ( isLogged ) { %>
            <% if (loggedUser.admin) { %>
                <a href="/product/create" id="add-product">+</a>
            <% } %>
        <% } %>
         
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>