<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section id="galeria-marcas">
                <% list.forEach(brand => { %>
                <article class="marca">
                    <a href="/brands/<%= brand.id %>">
                        <figure><img class="logo-marca" src="/img/brands/<%= brand.logo %>" alt="<%= brand.brand %>"><div class="brand-span"><p class="brand-name"><%= brand.brand %></p></div></figure>
                    </a>
                </article>
                <% }) %>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>