<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <% if (isLogged) { %>
                <section id="user-sect">
                    <h1>Perfil de usuario</h1>
                    <% if ( user ) { %>
                        <% if (user.id == loggedUser.id || loggedUser.admin == true) { %>
                            <section id="main-sect">
                                <section id="img-sect">
                                    <figure><img src="/img/users/<%= user.avatar%>" alt=""></figure>
                                </section>
                                <section id="profile-sect">
                                    <section class="data"><h3>Nombre</h3><p><%= user.name%></p></section>
                                    <section class="data"><h3>Apellido</h3><p><%= user.surname%></p></section>
                                    <section class="data"><h3>Email</h3><p><%= user.email%></p></section>
                                    <section class="data"><h3>Contrase침a</h3><p>********</p></section>
                                    <section class="data"><h3>Telefono</h3><p><%= user.tel%></p></section>
                                </section>
                            </section>
                            <section id="admin-sect">
                                <% if ( user.admin != true ) { %>
                                    <% if ( loggedUser.admin == true) { %>
                                        <form action="/admin/<%= user.id %>" method="post">
                                            <button type="submit" id="admin-button">Hacer administrador</button>
                                        </form>
                                    <% } %>
                                    <form action="/users/<%= user.id %>/edit/" method="GET">
                                        <button type="submit" id="edit-button">Editar datos</button>
                                    </form>
                                    <form action="/users/<%= user.id %>/delete" method="POST">
                                        <button type="submit" id="delete-button">Eliminar datos del usuario</button>
                                    </form>
                                <% } else if (user.admin == true) { %>
                                    <form action="/remove/<%= user.id %>" method="post">
                                        <button type="submit" id="admin-button">Quitar administrador</button>
                                    </form>
                                    <form action="/users/<%= user.id %>/edit/" method="GET">
                                        <button type="submit" id="edit-button">Editar datos</button>
                                    </form>
                                <% } %>
                            </section>
                        <% } else { %>
                            <span id="error">
                                <h2>Error</h2>
                                <h3>No est치s autorizado para ver este perfil</h3>
                                <a href="/home"><button>Volver al menu principal</button></a>
                                <a href="/users/<%= loggedUser.id %>"><button>Ir a mi perfil</button></a>
                            </span>
                        <% }} 
                    else {%>
                        <span id="error">
                            <h2>Error</h2>
                            <h3>No se ha podido encontrar el usuario</h3>
                            <a href="/home"><button>Volver al menu principal</button></a>
                        </span>
                    <% } %>
                <% } else { %>
                    <span id="error">
                        <h2>Error</h2>
                        <h3>Debes loguearte para acceder a esta p치gina</h3>
                        <a href="/login"><button>Iniciar sesi칩n</button></a>
                        <a href="/home"><button>Volver al menu principal</button></a>
                    </span>
                <% } %>%>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>